<section class="section-about">

  <div class="blurb">
  	{{ site.data.settings.blurb }}
  </div>

    <img src="{{"/assets/img/children.jpg" | relative_url}}" alt="Photo of children running" width="400" class="pull-right"/>
    
    <p>Specialized centers comprise the work of the PRISMS Program:</p>
    <ul>
      <li><strong>Sensor Development Centers</strong> establish specifications for device operation and measurement and develop new or redesigned sensors to monitor multiple environmental stressors and physiological parameters correlated with pediatric asthma.</li>
      <li>Sensors transmit data to <strong>Informatics Platform Centers</strong>, which manage transmission and acquisition of data securely for processing and integration.</li>
      <li>Processed data is then sent to the <strong>Data and Software Coordination and Integration Center</strong> for data quality checks, software development, and analysis.</li>
    </ul>
      </p>

    <p>PRISMS is supported by grant funding from the <a href="https://www.nibib.nih.gov/">National Institute of Biomedical Imaging and Bioengineering (NIBIB)</a>, dedicated to leading the development and application of biomedical technologies to improve the detection, treatment, and prevention of disease and by integrating physical and engineering sciences with life sciences to advance basic research and medical care. </p>

</section>