<section class="section-people">
  
  <h3 id="people" class="bigger">People</h3>


<div class="people-table">

<table class="prisms-table">
   <thead>
      <tr>
         <th>
            <div class="tablesorter-header-inner">Last Name</div>
         </th>
         <th>
            <div class="tablesorter-header-inner">First Name</div>
         </th>
         <th>
            <div class="tablesorter-header-inner">Email</div>
         </th>
         <th>
            <div class="tablesorter-header-inner">Institution</div>
         </th>
         <th>
            <div class="tablesorter-header-inner">Project</div>
         </th>
         <th>
            <div class="tablesorter-header-inner">Role</div>
         </th>
         <th>
            <div class="tablesorter-header-inner">Expertise</div>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="confluenceTd">Ambite</td>
         <td class="confluenceTd">Jose-Luis</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:ambite@isi.edu">ambite@isi.edu</a></td>
         <td class="confluenceTd">University of Southern California</td>
         <td class="confluenceTd">DSCIC</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">Data Integration</td>
      </tr>
      <tr>
         <td class="confluenceTd">Gilliland</td>
         <td class="confluenceTd">Frank</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:gillilan@usc.edu">gillilan@usc.edu</a></td>
         <td class="confluenceTd">University of Southern California</td>
         <td class="confluenceTd">DSCIC</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">BioStatistics, Epidemiology</td>
      </tr>
      <tr>
         <td class="confluenceTd">Kesselman</td>
         <td class="confluenceTd">Carl</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:carl@isi.edu">carl@isi.edu</a></td>
         <td class="confluenceTd">University of Southern California</td>
         <td class="confluenceTd">DSCIC</td>
         <td class="confluenceTd">coI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Gauderman</td>
         <td class="confluenceTd">William</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:jimg@usc.edu">jimg@usc.edu</a></td>
         <td class="confluenceTd">University of Southern California</td>
         <td class="confluenceTd">DSCIC</td>
         <td class="confluenceTd">coI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Shahabi</td>
         <td class="confluenceTd">Cyrus</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:shahabi@usc.edu">shahabi@usc.edu</a></td>
         <td class="confluenceTd">University of Southern California</td>
         <td class="confluenceTd">DSCIC</td>
         <td class="confluenceTd">coI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Eckel</td>
         <td class="confluenceTd">Sandrah</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:eckel@usc.edu">eckel@usc.edu</a></td>
         <td class="confluenceTd">University of Southern California</td>
         <td class="confluenceTd">DSCIC</td>
         <td class="confluenceTd">coI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Sward</td>
         <td class="confluenceTd">Katherine</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:kathy.sward@nurs.utah.edu">kathy.sward@nurs.utah.edu</a></td>
         <td class="confluenceTd">University of Utah</td>
         <td class="confluenceTd">IPT-UTAH</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd" colspan="1">Facelli</td>
         <td class="confluenceTd" colspan="1">Julio</td>
         <td class="confluenceTd" colspan="1">Julio.Facelli@<a rel="nofollow" class="external-link" href="http://utah.edu">utah.edu</a></td>
         <td class="confluenceTd" colspan="1">University of Utah</td>
         <td class="confluenceTd" colspan="1">IPT-UTAH</td>
         <td class="confluenceTd" colspan="1">coI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Bui</td>
         <td class="confluenceTd">Alex</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:buia@mii.ucla.edu">buia@mii.ucla.edu</a></td>
         <td class="confluenceTd">University of California, Los Angeles</td>
         <td class="confluenceTd">IPT-LA</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">King</td>
         <td class="confluenceTd">Christine</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:buia@mii.ucla.edu">kingce@cs.ucla.edu</a></td>
         <td class="confluenceTd">University of California, Los Angeles</td>
         <td class="confluenceTd">IPT-LA</td>
         <td class="confluenceTd">coI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Sarrafzadeh</td>
         <td class="confluenceTd">Majid</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:majid@cs.ucla.edu">majid@cs.ucla.edu</a></td>
         <td class="confluenceTd">University of California, Los Angeles</td>
         <td class="confluenceTd">IPT-LA</td>
         <td class="confluenceTd">coI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd" colspan="1">Habre</td>
         <td class="confluenceTd" colspan="1">Rima</td>
         <td class="confluenceTd" colspan="1"><a rel="nofollow" class="external-link" href="mailto:habre@usc.edu">habre@usc.edu</a></td>
         <td class="confluenceTd" colspan="1">University of California, Los Angeles</td>
         <td class="confluenceTd" colspan="1">IPT-LA</td>
         <td class="confluenceTd" colspan="1">coI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Davis</td>
         <td class="confluenceTd">Cristina</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:cedavis@ucdavis.edu">cedavis@ucdavis.edu</a></td>
         <td class="confluenceTd">University of California, Davis</td>
         <td class="confluenceTd">SENSOR-UCD</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Kenyon</td>
         <td class="confluenceTd">Nicholas</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd">University of California, Davis</td>
         <td class="confluenceTd">SENSOR-UCD</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Seto</td>
         <td class="confluenceTd">Edmund</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:eseto@uw.edu">eseto@uw.edu</a></td>
         <td class="confluenceTd">University of Washington</td>
         <td class="confluenceTd">SENSOR-UW-TEMU</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Li</td>
         <td class="confluenceTd">Zhenyu</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:zhenyu@gwu.edu">zhenyu@gwu.edu</a></td>
         <td class="confluenceTd">George Washington University</td>
         <td class="confluenceTd">SENSOR-GWU</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Chillrud</td>
         <td class="confluenceTd">Steven</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:chilli@ldeo.columbia.edu">chilli@ldeo.columbia.edu</a></td>
         <td class="confluenceTd">Columbia University</td>
         <td class="confluenceTd">SENSOR-Columbia</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Perzanowski</td>
         <td class="confluenceTd">Matthew</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:mp2217@columbia.edu">mp2217@columbia.edu</a></td>
         <td class="confluenceTd">Columbia University</td>
         <td class="confluenceTd">SENSOR-Columbia</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Tao</td>
         <td class="confluenceTd">Nongjian</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:Nongjian.Tao@asu.edu">Nongjian.Tao@asu.edu</a></td>
         <td class="confluenceTd">Arizona State University</td>
         <td class="confluenceTd">SENSOR-ASU</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Kostov</td>
         <td class="confluenceTd">Yordan</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:kostov@umbc.edu">kostov@umbc.edu</a></td>
         <td class="confluenceTd">University of Maryland Baltimore County</td>
         <td class="confluenceTd">SENSOR-UMBC</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Meuret</td>
         <td class="confluenceTd">Alicia</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:ameuret@smu.edu">ameuret@smu.edu</a></td>
         <td class="confluenceTd">University of Maryland Baltimore County</td>
         <td class="confluenceTd">SENSOR-UMBC</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Rao</td>
         <td class="confluenceTd">Govind</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:grao@umbc.edu">grao@umbc.edu</a></td>
         <td class="confluenceTd">University of Maryland Baltimore County</td>
         <td class="confluenceTd">SENSOR-UMBC</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Ritz</td>
         <td class="confluenceTd">Thomas</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:tritz@smu.edu">tritz@smu.edu</a></td>
         <td class="confluenceTd">Southern Methodist University</td>
         <td class="confluenceTd">SENSOR-UMBC</td>
         <td class="confluenceTd">PI</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Dellarco</td>
         <td class="confluenceTd">Michael</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:dellarcom@mail.nih.gov">dellarcom@mail.nih.gov</a></td>
         <td class="confluenceTd">NIH/NIBIB</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Pai</td>
         <td class="confluenceTd">Vinay</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:paiv@mail.nih.gov">paiv@mail.nih.gov</a></td>
         <td class="confluenceTd">NIH/NIBIB</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Heetderks</td>
         <td class="confluenceTd">William</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:heetderw@mail.nih.gov">heetderw@mail.nih.gov</a></td>
         <td class="confluenceTd">NIH/NIBIB</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Kelley</td>
         <td class="confluenceTd">Christine</td>
         <td class="confluenceTd"><a rel="nofollow" class="external-link" href="mailto:kelleyc@mail.nih.gov">kelleyc@mail.nih.gov</a></td>
         <td class="confluenceTd">NIH/NIBIB</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Lash</td>
         <td class="confluenceTd">Tiffani</td>
         <td class="confluenceTd">&nbsp;<a rel="nofollow" class="external-link" href="mailto:baileyti@mail.nih.gov">baileyti@mail.nih.gov</a></td>
         <td class="confluenceTd">NIH/NIBIB</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Rodgers</td>
         <td class="confluenceTd">Mary</td>
         <td class="confluenceTd">&nbsp;<a rel="nofollow" class="external-link" href="mailto:mary.rodgers@nih.gov">mary.rodgers@nih.gov</a></td>
         <td class="confluenceTd">NIH/NIBIB</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
      <tr>
         <td class="confluenceTd">Selimovic</td>
         <td class="confluenceTd">Seila</td>
         <td class="confluenceTd">&nbsp;<a rel="nofollow" class="external-link" href="mailto:seila.selimovic@nih.gov">seila.selimovic@nih.gov</a></td>
         <td class="confluenceTd">NIH/NIBIB</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd">&nbsp;</td>
         <td class="confluenceTd" colspan="1">&nbsp;</td>
      </tr>
   </tbody>
</table>




    <!--
    {% for project in site.data.settings.projects %}

      <div class="project-desc">
        <p class="project-name">{{ project.name }}</p>
        <figure>
        <img src="assets/img/pis/{{project.img}}.jpg" class="project-pic" width="115" alt="{{ project.pi }}">
        <figcaption class="project-pi"><strong>PI:</strong> {{ project.pi }}</figcaption>
    	</figure>
    	{% if project.copi != null %}
    		<figure>
		        <img src="assets/img/pis/{{project.coimg}}.jpg" class="project-pic" width="115" alt="{{ project.copi }}">
		        <figcaption class="project-copi"><strong>PI:</strong> {{ project.copi }}</figcaption>
		    </figure>
		    {% endif %}
        <p class="project-blurb">{{ project.description }}</p>

        {% if project.subprojects != null %}

        <div class="subproject-desc">
        {% for subproject in project.subprojects %}
        	<div class="subproject-sect">
	        	<p class="project-name">{{ subproject.name }}</p>
		        <figure>
		        <img src="assets/img/pis/{{subproject.img}}.jpg" class="subproject-pic" width="176" alt="{{ subproject.pi }}">
		        <figcaption class="subproject-pi"><strong>PI:</strong> {{ subproject.pi }}</figcaption>
		    	</figure>
		        <p class="project-blurb">{{ subproject.description }}</p>
	        </div>
	        {% endfor %}
        </div>
        {% endif %}

      </div>

    {% endfor %}
-->
</div>
</section>