{% include header.html %}

<div class="innercontent">

	<h2>{{ page.project_title }}</h2>

	<div class="pi-section">

			<div class="pi-photo">
			<div class="pi personnel">
			<img src="{{ site.baseurl }}/assets/img/pis/{{page.img}}.jpg" class="pull-left" />
			<p><strong>{{ page.pi }}</strong> (PI)<br>
				<span class="inst">{{ page.institute }}</span></p>
				<p style="clear:both"></p>
			</div>
			{% if page.copi != null %}
			<div class="pi personnel">
			<img src="{{ site.baseurl }}/assets/img/pis/{{page.coimg}}.jpg" class="pull-left" />
			<p><strong>{{ page.copi }}</strong> (PI)<br>
				<span class="inst">{{ page.coinstitute }}</span></p>
			</div>
				<p style="clear:both"></p>
				{% endif %}
			</div>
			{% if page.personnel != null %}
			<ul class="personnel-list">
			{% for item in page.personnel %}
				<li>{{ item.person }}<br/><span class="key-inst">{{ item.key-institute }}</span></li>
			{% endfor %}
			</ul>
			{% endif %}
		<p style="clear:both"></p>
</div>
<div class="study">

			<p>{{ page.description }}</p>

			{% if page.gallery != null %}
			<h3>Gallery</h3>
			<div class="project-gallery">
			  {% for item in page.gallery %}
			    <div class="project-image {{ page.col }}">
			      <div class="image">
			        <a href="{{ site.baseurl }}/assets/img/projects/{{ item.path }}.png" data-lightbox="{{ page.pi }}" title="{{ item.pic-title }}">
							<img src="{{ site.baseurl }}/assets/img/projects/{{ item.path }}.png" alt="TBD" width={{ item.width }} />
						</a>
			      </div>
						<!--
			      <p>{{ item.image-desc }}</p>
					-->
			    </div>
			  {% endfor %}
				<p style="clear:both"></p>
			</div>
			{%  endif %}
			<p style="clear:both"></p>
</div>


			{% if page.breathe-projects != null %}

			  {% for item in page.breathe-projects %}
				<h3>{{ item.title }}</h3>
				<p>{{ item.description }}</p>
				<p><strong>Project Leader:</strong> {{ item.project-leader }}<br/>
				<em>{{ item.project-leader-inst }}</em>
				</p>
				{% if item.subgallery != null %}
				<div class="project-gallery">
				  {% for pix in item.subgallery %}
				    <div class="project-image {{ pix.col }}">
				      <div class="image">
				        <a href="{{ site.baseurl }}/assets/img/projects/{{ pix.image-path }}.png" data-lightbox="{{ page.pi }}" title="{{ pix.title }}">
								<img src="{{ site.baseurl }}/assets/img/projects/{{ pix.image-path }}.png" alt="TBD" width='{{ pix.width }}'/>
							</a>
				      </div>
							<!--
				      <p>{{ item.image-desc }}</p>
						-->
				    </div>
				  {% endfor %}
					<p style="clear:both"></p>
				</div>
				{%  endif %}
				{%  endfor %}
			{%  endif %}

			{% if page.presentations != null %}
			<h3>Project Presentations</h3>
			<div class="project-presentations">
				<ul class="presentation-list">
						{% for presentation in page.presentations %}
								<li><a href="{{ presentation.presentation-url }}">{{ presentation.presentation-title }}</a></li>
						{% endfor %}
				</ul>
			</div>
			{% endif %}
</div>


{% include footer.html %}
